<div class="grid justify-items-center">
  <h2 class="text-3xl mb-4">{{ section.settings.title | escape }}</h2>
<div class="grid grid-cols-1 grid-rows-1 justify-items-center  md:grid-cols-2 md:grid-rows-2 md:gap-8  lg:grid-flow-row  lg:grid-rows-1 lg:grid-cols-4 lg: w-5/6">
  {% for collection in section.settings.collection_list %}
    {% if collection.image.src %}
        <div class="">
          <img src="{{collection.image.src | collection_img_url: '200x200', crop: 'center', scale:2}}" alt="{{collection.title}}">
            <h3 class="text-center text-2xl">{{collection.title}}</h3>
        </div>
    {% else %}
      {{ 'collection-image-default.png' | asset_url | img_tag }}
    {% endif %}
  {% endfor %}
</div>
</div>



<script>
  {

    body_html
: 
""
handle
: 
"diez"
id
: 
432421765436
image
: 
{created_at: '2023-01-05T22:19:30-05:00', alt: null, width: 1000, height: 1000, src: 'https://cdn.shopify.com/s/files/1/0697/5268/4860/c…h-500_dpr-2_q-50_cm-pad_resize_6.jpg?v=1672975170'}
published_at
: 
"2023-01-05T20:59:45-05:00"
published_scope
: 
"web"
sort_order
: 
"best-selling"
template_suffix
: 
""
title
: 
"DIEZ"
updated_at
: 
"2023-01-05T22:19:30-05:00"
  }
</script>
{% schema %}
  {
    "name": "Collection List",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Collection List",
        "label": "Title"
      }, {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "limit": 4
      }, {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 12,
        "step": 2,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      }
    ]
  }
{% endschema %}