{%- style -%}
  #hero::before {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}
    ;
    background-image: url('{{ section.settings.image | img_url: '1920x' }}');
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: top center;
  }
{%- endstyle -%}
<div id="hero" class="relative flex justify-center items-center h-screen">
  <div class="relative w-full text-{{section.settings.aligment_text_block}} banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
          <h2 class="text-white {% if block.settings.heading_size == 'medium' %}text-3xl{% else %}text-6xl{% endif %}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.heading | escape }}</span>
          </h2>
          {%- when 'text' -%}
          <div class="{% if block.settings.text_style == 'small' %}text-sm{% else %}text-base{% endif %}">
            <span>{{ block.settings.text | escape }}</span>
          </div>
          {%- when 'buttons' -%}
          <div class="m-4">
            {%- if block.settings.button_label_1 != blank -%}
              <a {% if block.settings.button_link_1 == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.button_link_1 }}"{% endif %} class="m-4 p-2 bg-black text-white {% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
            {%- endif -%}
          </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.image-banner.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      }, {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
        "default": 0
      }, {
        "type": "select",
        "id": "aligment_text_block",
        "label": "Aligment Text Block",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }, {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center",
        "label": "Center"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-banner.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          }, {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "medium",
                "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
              }, {
                "value": "large",
                "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
              }
            ],
            "default": "medium",
            "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.image-banner.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Give customers details about the banner image(s) or content on the template.",
            "label": "t:sections.image-banner.blocks.text.settings.text.label"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "small",
                "label": "Small"
              }, {
                "value": "medium",
                "label": "Medium"
              }
            ],
            "default": "small",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
          }
        ]
      }, {
        "type": "buttons",
        "name": "t:sections.image-banner.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
          }, {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-banner.presets.name",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "buttons"
          }
        ]
      }
    ]
  }
{% endschema %}